//@import "freelancers";
.freelancers {
    .freelancer-avatar {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .freelancers-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
}

.freelancer {
    .box-profile {
        .level {
            font-size: 32px;
        }
    }
}

.freelancer-edit {
    .box-profile {
        .level {
            font-size: 32px;
        }
    }
}

//@import "orders";

.orders {
    .orders-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
}

.order-form {
    .bootstrap-datetimepicker-widget .picker-switch td a {
        color: white;
    }
}

.sidebar {
    .image {
        i.fas {
            color: white;
            font-size: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.content-wrapper {
    .fc-daygrid-event {
        white-space: normal;
    }
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
    padding: 3px;
}
